*
{
   margin: 0;
   padding: 0;
   font-style: "Times New Roman", serif;
}

.hater{
   display: flex;


}

#logo {
   margin-left: 50px;
   margin-top: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 900;
   color: aliceblue;
}


.hater ul {
   display: inline-flex;
   list-style-type: none;
   margin-top: 15px;  
   margin-left:300px;
}

.hater li {
   padding: 20px;
   color: aliceblue;
}

.hater a:link  {
   color: aliceblue;
   text-decoration: none;
}

#awesome{
   font-weight: 600;
   font-size: 30px;
   color: aliceblue;
}

#second {
   font-size: 20px;
   color: aliceblue;
}

.textul {
   margin-top: 100px;
   margin-left: 50px;
}
.textul button{
   padding: 15px;
   background-color: blue;
   border-radius: 10px;
   color: aliceblue;
}

.unucualtu {
   display: inline-flex;  
   margin-top: 100px;
   margin-left: 15px;
}

.unucualtu img{
   width: 800px;
   height: 300px;
   background-color: transparent;

}

.marele {
   background-color: #1f2937;
   padding-bottom: 100px;
}